/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

example_copy.rb

DELETE_ME
REMOVE.rb

*.gem
*.rbc
/.config
/pkg/

.byebug_history

.ruby-version
.ruby-gemset

.rvmrc
.DS_Store
