---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v19.0/107878721936019/whatsapp_business_profile?fields=about,address,description,email,profile_picture_url,websites,vertical
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ff7e3a480c4940bc7cd930619b52da7eab33e5a9"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v20.0 as v19.0 will be deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp_business_management","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v20.0
    body:
      encoding: UTF-8
      string: '{"data":[{"vertical":"UNDEFINED","messaging_product":"whatsapp"}]}'
  recorded_at: Mon, 14 Oct 2024 03:39:48 GMT
recorded_with: VCR 6.3.1
