---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v19.0/123123/whatsapp_business_profile
    body:
      encoding: UTF-8
      string: about=Hey+there%21+I+am+using+WhatsApp.&messaging_product=whatsapp
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v20.0 as v19.0 will be deprecated.
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Unsupported post request. Object
        with ID '123123' does not exist, cannot be loaded due to missing permissions,
        or does not support this operation. Please read the Graph API documentation
        at https://developers.facebook.com/docs/graph-api"
      Facebook-Api-Version:
      - v20.0
      Proxy-Status:
      - http_request_error; e_proxy="AcIg4lrypEn4Hdcc98DIxDTfBbJvLyKsikIuM_FKP_R1fay0wcFGBgUQ1TwK2ffYFE30LfDDTcZWJb2jDpkz";
        e_fb_binaryversion="AcJiB5hBR4kmdxfjTSjBdrsjna5IU3a4rUBw2wb1tCrsBa-IgfV8l5XB62BXXG6jXRV--WB8DWJiOzU_NSOpeV-TnEyClQ5W3m0";
        e_fb_httpversion="AcKecBQQvbLsZepxw1yDZeogistpdIDg1fsnnbxtUqOg609ia_bJSJ98OuFx";
        e_fb_responsebytes="AcJW7d3LZf1nHDOl-CcAeCCWhB7NbEv78ngVWGevi0N4F3ITjK-UIVtIXRtl";
        e_fb_requesttime="AcI5JOCbFkKw2hGDi351LztCitBWZ3SoPKMPZRv[...]
