---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v19.0/114503234599312?fields=analytics.start(1770606000).end(1770692400).granularity(HALF_HOUR)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d87b3915abba01fab1244da5c1ae79127d74e098"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v24.0 as v19.0 has been deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp_business_management","call_count":2,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v24.0
    body:
      encoding: UTF-8
      string: '{"analytics":{"granularity":"HALF_HOUR"},"id":"114503234599312"}'
  recorded_at: Tue, 10 Feb 2026 20:32:00 GMT
recorded_with: VCR 6.3.1
