---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v19.0/123123?fields=id,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Debug-Link:
      - https://www.meta.com/debug/?mid=b39b09b1bdb1e7a7f98b3470549aae5b
      Error-Mid:
      - b39b09b1bdb1e7a7f98b3470549aae5b
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v24.0 as v19.0 has been deprecated.
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Unsupported get request. Object
        with ID '123123' does not exist, cannot be loaded due to missing permissions,
        or does not support this operation. Please read the Graph API documentation
        at https://developers.facebook.com/docs/graph-api"
      Facebook-Api-Version:
      - v24.0
      Proxy-Status:
      - http_request_error; e_fb_vipaddr="AcNllmk95ULhnbVjrOr54FUsKtQ7W6AVaMu6EMUVLwpR4VrM2ABB5pzLpkd6hZOYOXLqKkZ81WHUeCMVZKcFDgjbEhtuyAhizhQ";
        e_clientaddr="AcMSSmjcVwEz413uKIeNSFGUI7SsL5Hxgp9--_cxItv1nmRevogWdonQrXTa1d_BmhXw4qh0ENDRtCDvT389VL70vxnFBP6cpSlsCq5Jm95NpZy1";
        e_upip="AcP9_YzJs8uGIfd2Vxa4lxmbCYb62BSlspSlh2YJMFm0PLdPqm0iGrWhIlRCsow-i7HpBR0Ox1MZ2zbAr1QHk9no7kBskVTqAF7N5EPs9Hg";
        e_fb_zone="AcMyT1ZphLK6i7T6hvcKWWEZ3gfujqdqNxMuvwZCSH3y_uIZ7iHMqpjLV9-GzX7R";
      [...]
