---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v19.0/114503234599312?fields=id,name,timezone_id,message_template_namespace,account_review_status,business_verification_status,country,ownership_type,primary_business_location
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ba3606a3b6e623ef82692a08ce1357d9b8f2ba9a"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v24.0 as v19.0 has been deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp_business_management","call_count":0,"total_cputime":0,"total_time":0,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v24.0
    body:
      encoding: UTF-8
      string: '{"id":"114503234599312","name":"Test Business Account","timezone_id":"138","message_template_namespace":"9d1f930f_bea0_46c5_9099_bc3291e9d6b4","account_review_status":"APPROVED","business_verification_status":"not_verified","ownership_type":"SELF"}'
  recorded_at: Tue, 10 Feb 2026 22:09:59 GMT
recorded_with: VCR 6.3.1
