---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v19.0/114503234599312?fields=id,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"938800470f63cde8ae5a3ea068762c800934d65d"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v24.0 as v19.0 has been deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp_business_management","call_count":3,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v24.0
    body:
      encoding: UTF-8
      string: '{"id":"114503234599312","name":"Test Business Account"}'
  recorded_at: Tue, 10 Feb 2026 20:41:44 GMT
recorded_with: VCR 6.3.1
