---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v19.0/107878721936019/deregister
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v20.0 as v19.0 will be deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v20.0
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 14 Oct 2024 00:54:52 GMT
recorded_with: VCR 6.3.1
