---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v19.0/114503234599312/phone_numbers?fields=id,is_official_business_account,display_phone_number,verified_name,account_mode,quality_rating,certificate,code_verification_status,eligibility_for_api_business_global_search,is_pin_enabled,name_status,new_name_status,status,search_visibility,messaging_limit_tier
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"6537b83495a3537b549de8f44ce0164e1586b90f"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v20.0 as v19.0 will be deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp_business_management","call_count":0,"total_cputime":0,"total_time":0,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v20.0
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"107878721936019","is_official_business_account":false,"display_phone_number":"+1
        555-093-4873","verified_name":"Test Number","account_mode":"SANDBOX","quality_rating":"GREEN","code_verification_status":"NOT_VERIFIED","eligibility_for_api_business_global_search":"NON_ELIGIBLE_VERIFIED_LEVEL","is_pin_enabled":true,"name_status":"AVAILABLE_WITHOUT_REVIEW","new_name_status":"NONE","status":"DISCONNECTED","search_visibility":"NON_VISIBLE","messaging_limit_tier":"TIER_250"}],"paging":{"cursors":{"before":"QVFIUnpyRHZAWNzZAvbFU0OXhBMlNEOEJxUExQbENCV19SaVdVZAXBlNWRTejVCY1AxY0xpd2VaS2VDckVTN3J5cy1CZAUMZD","after":"QVFIUnpyRHZAWNzZAvbFU0OXhBMlNEOEJxUExQbENCV19SaVdVZAXBlNWRTejVCY1AxY0xpd2VaS2VDckVTN3J5cy1CZAUMZD"}}}'
  recorded_at: Mon, 14 Oct 2024 00:52:26 GMT
recorded_with: VCR 6.3.1
