---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v19.0/123123/register
    body:
      encoding: UTF-8
      string: messaging_product=whatsapp&pin=123
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v20.0 as v19.0 will be deprecated.
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Unsupported post request. Object
        with ID '123123' does not exist, cannot be loaded due to missing permissions,
        or does not support this operation. Please read the Graph API documentation
        at https://developers.facebook.com/docs/graph-api"
      Facebook-Api-Version:
      - v20.0
      Proxy-Status:
      - http_request_error; e_proxy="AcIckA72Y_JfVAGEapDmiDhPaN5RUUaSKBoLQIMS1NaaU-PKH2aMirgQ0D6m_ddObjQ12i9PEczlx_lly-Q";
        e_fb_binaryversion="AcI3_TevzWAsfQGhsto6nw0ipG3cWomanT_L3uwO63wG-ww3r2QRaSNfZ7jH-Vrd9sCoYrGGpnGHEcZTUwOyNXB0gBf3DnDBYy8";
        e_fb_httpversion="AcL_NYGdhbOfEKrWCygfKDD8otzO0TgNdziIj_TRPfYX9yRoT05YFN-gp3ze";
        e_fb_responsebytes="AcJDkr6ZcCQtNweJlxv0HueCcIDWXXkYRj7zGs7W4j5hGemZE7rzTojj7ZXR";
        e_fb_requesttime="AcJ2B5Nlcie046Ze4mCedEHqQvcHQsY_6zBJZMq1[...]
