---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v19.0/114503234599312/message_templates
    body:
      encoding: UTF-8
      string: '{"name":"seasonal_promotion","category":"MARKETING","language":"nl","components":[{"type":"BODY","text":"Thank
        you for your order, {{1}}! Your confirmation number is {{2}}. If you have
        any questions, please use the buttons below to contact support. Thank you
        for being a customer!","example":{"body_text":[["Ignacio","860198-230332"]]}},{"type":"BUTTONS","buttons":[{"type":"PHONE_NUMBER","text":"Call","phone_number":"59898400766"},{"type":"URL","text":"Contact
        Support","url":"https://www.luckyshrub.com/support"}]}],"allow_category_change":true}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v20.0 as v19.0 will be deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp_business_management","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v20.0
    body:
      encoding: UTF-8
      string: '{"id":"1637803510117084","status":"PENDING","category":"MARKETING"}'
  recorded_at: Mon, 14 Oct 2024 03:06:15 GMT
recorded_with: VCR 6.3.1
