---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v19.0/114503234599312/message_templates
    body:
      encoding: UTF-8
      string: '{"name":"seasonal_promotion","category":"MARKETING","language":"en","components":[{"type":"BODY","text":"Thank
        you for your order, {{name}}! Your confirmation number is {{order_number}}.
        If you have any questions, please use the buttons below to contact support.
        Thank you for being a customer!","example":{"body_text_named_params":[{"param_name":"name","example":"Ignacio"},{"param_name":"order_number","example":"860198-230332"}]}},{"type":"BUTTONS","buttons":[{"type":"PHONE_NUMBER","text":"Call","phone_number":"59898400766"},{"type":"URL","text":"Contact
        Support","url":"https://www.luckyshrub.com/support"}]}],"parameter_format":"named"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v24.0 as v19.0 has been deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp_business_management","call_count":0,"total_cputime":0,"total_time":0,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v24.0
    body:
      encoding: UTF-8
      string: '{"id":"1299189242256801","status":"PENDING","category":"MARKETING"}'
  recorded_at: Thu, 22 Jan 2026 13:05:38 GMT
recorded_with: VCR 6.3.1
