---
http_interactions:
- request:
    method: delete
    uri: https://graph.facebook.com/v19.0/114503234599312/message_templates?name=fake%20name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v20.0 as v19.0 will be deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp_business_management","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Invalid parameter"
      Facebook-Api-Version:
      - v20.0
      Proxy-Status:
      - http_request_error; e_proxy="AcKNFgas1gl5xTZjoHefTs_iDSJV7CNMLSclIlkgoYF0s3dcY9mbTSI_GSd7PSnrjk8S6BHn3V8HXOexlJ5t";
        e_fb_binaryversion="AcI-vzOjDgbcNIk3AbJ0dY4613HaqZozbWi9ucRlBDvQkofY8cYvxHovwj9yyPF-5FlqJRVW-rfAG06eoKW8mbuZiUtVIvjabF0";
        e_fb_httpversion="AcIgMpNiDGbszYI20ttf6easwNE-ZAhkbWJGbn0RkrI8l8SItSy_VLK-UT2l";
        e_fb_responsebytes="AcLe7xGmyxWEc2aCNoCXZw1M45nWbOTc62Z8ayX8xMoq-PXWafV4gjj866N5";
        e_fb_requesttime="AcI2d0We6BdKeM1kxjtDdylQKfXk4w1sNrCAIia[...]
