---
http_interactions:
- request:
    method: delete
    uri: https://graph.facebook.com/v19.0/114503234599312/message_templates?hsm_id=1075472707447727&name=seasonal_promotion
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v20.0 as v19.0 will be deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp_business_management","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v20.0
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 14 Oct 2024 02:57:57 GMT
recorded_with: VCR 6.3.1
