---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v19.0/114503234599312/message_templates?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1050253aec7b29caff644806927dabfa81406eee"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v24.0 as v19.0 has been deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp_business_management","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v24.0
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Wed, 21 Jan 2026 14:52:23 GMT
recorded_with: VCR 6.3.1
