---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v19.0/1297883712183060
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Debug-Link:
      - https://www.meta.com/debug/?mid=b39b09b1bdb1e7a7f98b3470549aae5b
      Error-Mid:
      - b39b09b1bdb1e7a7f98b3470549aae5b
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v24.0 as v19.0 has been deprecated.
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Unsupported get request. Object
        with ID '1297883712183060' does not exist, cannot be loaded due to missing
        permissions, or does not support this operation. Please read the Graph API
        documentation at https://developers.facebook.com/docs/graph-api"
      Facebook-Api-Version:
      - v24.0
      Proxy-Status:
      - http_request_error; e_fb_vipaddr="AcPD7q-oRzIbkM4B6Z8kmParXPHDtPLl-dlja3Gt6Ud_LuuM7u7fCd68ogffVoRiiM7JgSCh_2TMbRSYg54eZJbmLV2WMP3zCA_c8g";
        e_clientaddr="AcNQk4Y1AgN0-ZZpEFvEpRLPy1Gdh5SygDqWGTQI-Efe9yJwU4uV6qSpIgoa-Hs3f8os0c_sZvIZH_a3Zby6krsyircjVVvu6xXlk0FE84lW8dcDVA";
        e_upip="AcOFB6MOB3NRRUlC2TmiOahAYS41UlyxR0N4YtYRYugtnvdi6139oiKSKFIIYBEaCTs6RPyfNezVzwwJNo4WT8HO1PPQi1Wisqez-HbdSec";
        e_fb_zone="AcNt2LKjAZOsuGl2LbpGZukoCP4e3BIy8q4x1h5sD7Aqjd67sxObKwIYNUp8Uqdm";
 [...]
