---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v19.0/114503234599312?fields=message_template_namespace
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"cea490a39da066c8a5a0fc7e8342ee2abcd8b3a1"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v20.0 as v19.0 will be deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp_business_management","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v20.0
    body:
      encoding: UTF-8
      string: '{"message_template_namespace":"ffac72fb_6591_4cb3_bb24_0c33a6633999","id":"114503234599312"}'
  recorded_at: Mon, 14 Oct 2024 01:52:18 GMT
recorded_with: VCR 6.3.1
