---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v19.0/1297883712183052
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3ac4b6ddf725308a824fa54337c454b098da44af"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v24.0 as v19.0 has been deprecated.
      X-Business-Use-Case-Usage:
      - '{"901406135639897":[{"type":"whatsapp_business_management","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v24.0
    body:
      encoding: ASCII-8BIT
      string: '{"name":"seasonal_promotion","parameter_format":"POSITIONAL","components":[{"type":"BODY","text":"Thank
        you for your order, {{1}}! Your confirmation number is {{2}}. If you have
        any questions, please use the buttons below to contact support. Thank you
        for being a customer!","example":{"body_text":[["Ignacio","860198-230332"]]}},{"type":"BUTTONS","buttons":[{"type":"PHONE_NUMBER","text":"Call","phone_number":"+59898400766"},{"type":"URL","text":"Contact
        Support","url":"https:\/\/www.luckyshrub.com\/support"}]}],"language":"nl","status":"PENDING","category":"MARKETING","id":"1297883712183052"}'
  recorded_at: Thu, 22 Jan 2026 13:46:26 GMT
recorded_with: VCR 6.3.1
