---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v19.0/123456/message_templates?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v20.0 as v19.0 will be deprecated.
      X-App-Usage:
      - '{"call_count":1,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Unsupported get request. Object
        with ID '123456' does not exist, cannot be loaded due to missing permissions,
        or does not support this operation. Please read the Graph API documentation
        at https://developers.facebook.com/docs/graph-api"
      Facebook-Api-Version:
      - v20.0
      Proxy-Status:
      - http_request_error; e_proxy="AcKZqgBbSBRoEYYkdVZxecfoj40YhYiI5W3ii9Pn7BNPBqAjhc30kra5P8RVr1jFPy4B0AMPC8jcCcdM4qLy";
        e_fb_binaryversion="AcJapxf083FA-ikGCTovlp_H_BG8VqgR8JqEM9qU7eL2ldsTHzANDRVaha1pF6XiBOW0pr7Qlhmt1bk4VdKnepQ33ixtIKHpngU";
        e_fb_httpversion="AcIFoJQZzFBLiewgt-A_beMRlpK7R7tHG8YeG7XxpuV41xD6GdGcsFALCpo4";
        e_fb_responsebytes="AcI2RT1iM4dZhbQdG6pL6lw1-wX0E53bkDFPhVHPAAHh-jenkMBGqQ7Rpe8t";
        e_fb_requesttime="AcLsZrAfcMWPA0F0DCI4IlsS-l5G8DAsldSi8Bt[...]
