---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v19.0/114503234599312/message_templates?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4dd62f096f20a4f6e8799225e0291055ce33a022"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v20.0 as v19.0 will be deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp_business_management","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v20.0
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"name":"hello_world","components":[{"type":"HEADER","format":"TEXT","text":"Hello
        World"},{"type":"BODY","text":"Welcome and congratulations!! This message
        demonstrates your ability to send a message notification from WhatsApp Business
        Platform\u2019s Cloud API. Thank you for taking the time to test with us."},{"type":"FOOTER","text":"WhatsApp
        Business API Team"}],"language":"en_US","status":"APPROVED","category":"MARKETING","id":"711633970112948"},{"name":"sample_purchase_feedback","previous_category":"ISSUE_RESOLUTION","components":[{"type":"HEADER","format":"IMAGE"},{"type":"BODY","text":"Thank
        you for purchasing {{1}}! We value your feedback and would like to learn more
        about your experience."},{"type":"FOOTER","text":"This message is from an
        unverified business."},{"type":"BUTTONS","buttons":[{"type":"URL","text":"Take
        Survey","url":"https:\/\/www.example.com\/"}]}],"language":"en_US","status":"APPROVED","category":"MARKETING","id":"1350788845398345"},{"name":"sample_purchase_feedback","previous_category":"ISSUE_RESOLUTION","components":[{"type":"HEADER","format":"IMAGE"},{"type":"BODY","text":"Agradecemos
        a aquisi\u00e7\u00e3o de {{1}}! Valorizamos seu feedback e gostar\u00edamos
        de saber mais sobre sua experi\u00eancia."},{"type":"FOOTER","text":"Esta
        mensagem \u00e9 de uma empresa n\u00e3o verific[...]
