---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v19.0/114503234599312/template_analytics?after=MjQZD&end=1767311999&granularity=DAILY&metric_types=&start=1767225600&template_ids=25979270448374156
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d6195b6972c304fd18209b1f217f0db73a99f57d"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v24.0 as v19.0 has been deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp_business_management","call_count":10,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0},{"type":"whatsapp_business_management","call_count":10,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v24.0
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"granularity":"DAILY","product_type":"cloud_api"}],"paging":{"cursors":{"before":"MjUZD","after":"NDkZD"},"previous":"https:\/\/graph.facebook.com\/v24.0\/901406135639897\/template_analytics?end=1767311999&granularity=DAILY&metric_types=&start=1767225600&template_ids=25979270448374156&limit=25&before=MjUZD"}}'
  recorded_at: Thu, 19 Feb 2026 13:56:03 GMT
recorded_with: VCR 6.3.1
