---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v19.0/123456/template_analytics?end=1767311999&granularity=DAILY&metric_types=&start=1767225600&template_ids=fake_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Debug-Link:
      - https://www.meta.com/debug/?mid=c0beb7fa49e59c7fe70b2abe7f8d7940
      Error-Mid:
      - c0beb7fa49e59c7fe70b2abe7f8d7940
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v24.0 as v19.0 has been deprecated.
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "(#100) Tried accessing nonexisting
        field (template_analytics) on node type (User)"
      Facebook-Api-Version:
      - v24.0
      Proxy-Status:
      - http_request_error; e_fb_vipaddr="AcOrczf-JDAwX59lfs2jBGM3WdAdQMJa6KAkJAk1Yuxr3UEUxBn18wa8I-S8eX4k_Eji07DG9Gq3Ujr9BMh1vrRjIVgFPC9tRcWv";
        e_clientaddr="AcNTBxoblSDZfoB8VIc311XkE3pOHGx2asFhmJB1Uj5rkzVgb9cdhd0UDRO27mCQAfaEJwvkq8Hlc3O7kvdtDCJc2AiNV2e2YZf-zknaezFgzQ1pSQ";
        e_upip="AcNqUfhzyVEsg7X3So0v5i5WatpBYYIK7xgetXo4Llhs9pqhrPtEz61lFETpL0VP9Njfu8MsNDPUw7ZErVrkPoPDdn-3u0BG6ePH8XVbNR4";
        e_fb_zone="AcOjjV-Qjd5yRsHVTsyfBKhym6v0z9Qzf_tZoFjza9A1MTPPpIeY3QbQTWWGu-Vd";
   [...]
