---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v19.0/114503234599312/template_analytics?end=1767311999&granularity=DAILY&metric_types=SENT,DELIVERED,READ&start=1767225600&template_ids=25979270448374156
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"91aa163be385b97b1db8e90dbbf799d75188b01a"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v24.0 as v19.0 has been deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp_business_management","call_count":59,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0},{"type":"whatsapp_business_management","call_count":59,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v24.0
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"granularity":"DAILY","product_type":"cloud_api","data_points":[{"template_id":"25979270448374156","start":1767225600,"end":1767312000,"sent":0,"delivered":0,"read":0},{"template_id":"25979270448374156","start":1767312000,"end":1767398400,"sent":0,"delivered":0,"read":0}]}],"paging":{"cursors":{"before":"MAZDZD","after":"MjQZD"}}}'
  recorded_at: Wed, 11 Feb 2026 23:36:52 GMT
recorded_with: VCR 6.3.1
