---
http_interactions:
- request:
    method: delete
    uri: https://graph.facebook.com/123_123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "(#100) Invalid post_id parameter"
      Facebook-Api-Version:
      - v20.0
      Proxy-Status:
      - http_request_error; e_proxy="AcJN84T8JQkyo48uDfEWM87pssQExsromaz6Gujj5q72W888qqFqKqK0g6H3nA6S6ScFkYuVMbAtWRz6neiq";
        e_fb_binaryversion="AcKFDWTd23ZcdFWTfPdWLvCrP1cui1jLRAKgGY-jSzBahul2qFe8wrAtrKM_X5zzJatefA35KH1VfSPFjUQgSNkSZbOB30XNMqg";
        e_fb_httpversion="AcKwhnPYf6r3N702yzWXAsgYok_i94h21HuBLaXtxadARbjrQwHcb5oGPtw2";
        e_fb_responsebytes="AcLvHlan6l6YoKky_CQmK_lOZtdFvkkLPAk-wOuCIG1S_hs-svzSiqtY8RAg";
        e_fb_requesttime="AcKkDRWU0xkkW9kMvi0g6Co_XZoHS4db-Vo3FD1[...]
