---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/1761991787669262
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b7009d41c20bef021ca4f8d18b942dfbabceb718"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v20.0
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https:\/\/lookaside.fbsbx.com\/whatsapp_business\/attachments\/?mid=1761991787669262&ext=1728904986&hash=ATta-PkMyBz0aTF9b0CVDimLtAkAgpdXQa6t5x1KgUOu-Q","mime_type":"image\/png","sha256":"c86c28d437534f7367e73b283155c083dddfdaf7f9b4dfae27e140f880035141","file_size":182859,"id":"1761991787669262","messaging_product":"whatsapp"}'
  recorded_at: Mon, 14 Oct 2024 11:18:07 GMT
recorded_with: VCR 6.3.1
