---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/123_123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Unsupported get request. Object
        with ID '123_123' does not exist, cannot be loaded due to missing permissions,
        or does not support this operation. Please read the Graph API documentation
        at https://developers.facebook.com/docs/graph-api"
      Facebook-Api-Version:
      - v20.0
      Proxy-Status:
      - http_request_error; e_fb_responsebytes="AcK9lgERZMxVxpzlLvyYtugDve3XP9wgNTC6_Z3CtJRbhS7HOuB2MxWqXiK1";
        e_fb_requesttime="AcLDd7klqmgZSRWMnFRm_D8nPmHRC7ntPxSTNBrQVO2XoNjvStJT9OO6-UqVHdkgeiqHB-RvmQ";
        e_proxy="AcKq0jps4kpGsdpyILNwatao34WyM1beRP75Cii1kl0zm4WTEuvAPGa254LNJI7yQiNf82ssgY_WRPfVzBE5";
        e_fb_binaryversion="AcLMfPKoMfkl7cMh7OHalaP2Ggb-Sbdz1ZiSEjy0Kl3D_XG7fzuFMveuOE2p4YR2gz9bEWzVZ_hSHEU9rQJduWgnJNmnNdyjWOs";
        e_fb_httpversion="AcLQOzXsEcoobtwZasX-bAcjK[...]
