---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/396305933546205
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1f30aa67e648d76daa8041643b4bde9ee2ea0660"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v20.0
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https:\/\/lookaside.fbsbx.com\/whatsapp_business\/attachments\/?mid=396305933546205&ext=1729028163&hash=ATv4PO2ix3ThulGe8hhrFCZTXSypEC6t51V6UBDSvRdwRw","mime_type":"application\/pdf","sha256":"9c0ec015ef2ec004c152dfa72cd07929f9fcb775d8d38aa1e9bf216ecfc003d7","file_size":14254,"id":"396305933546205","messaging_product":"whatsapp"}'
  recorded_at: Tue, 15 Oct 2024 21:31:03 GMT
recorded_with: VCR 6.3.1
