---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v19.0/107878721936019/messages
    body:
      encoding: UTF-8
      string: '{"messaging_product":"whatsapp","status":"read","message_id":"wamid.HBgLMTM0Mzc3NzI5MTAVAgARGBJDRDhCNTAwRkU0MTdCNkI3OUMA"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v20.0 as v19.0 will be deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "(#100) Invalid parameter"
      Facebook-Api-Version:
      - v20.0
      Proxy-Status:
      - http_request_error; e_proxy="AcIv50ElcTPpZTCpcoKysSoOswF5cP9z_KMr-qZfnxYxNE2Vd-AtOVcjQUzwvhS_k76l37AEnd_2yVrfb9U";
        e_fb_binaryversion="AcIID_bA8kWwbzt_U55QL-qB_TM6XZEQnYo0s_sWnc0SrHMKQFEAkyyS-kkvsu0_jF90zWkvCnGGmu05QB-hm8Cu4jva9Wr18WY";
        e_fb_httpversion="AcIJUjN-SUSg0sT_hYc5dJQaLhh8jaIaGjupntSGKkJdmski-B-MojY_c-oc";
        e_fb_responsebytes="AcLOj89fzz2SeUW1A2Rh1anmHgIZpER2YNEWSRJm5PLyQG7g5r0-8hrHFNpb";
        e_fb_requesttime="AcJsWUOfDkIDcS8bQ2Ycs2-vwuo_JOmUnP2FyXXV[...]
