---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v19.0/107878721936019/messages
    body:
      encoding: UTF-8
      string: '{"messaging_product":"whatsapp","status":"read","message_id":"12345"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v20.0 as v19.0 will be deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "(#100) Invalid parameter"
      Facebook-Api-Version:
      - v20.0
      Proxy-Status:
      - http_request_error; e_proxy="AcKYFED7mULZpCbB54u7k-6B1vM0DN_2uZzjCN_UrtjhOnjruP1O2DmmeQWxUpIl9Rb2RPDvv9564arI8uI";
        e_fb_binaryversion="AcKngF77cwoq7TH4Ugl8XJtYJ2MUpZZAUP-vIEJHzAqYiIOGbQDUNizrRkqIsjIYp9gx7J8dy9ZVZWCgKH4t3BeJunEmiOAFNnw";
        e_fb_httpversion="AcKf4WXLnRIkaY3J2lVyvoAuvNBgSo8hNiFaeCAfYcKCG-c-rv4bTAI5qJy0";
        e_fb_responsebytes="AcKdFHQhLnh9ODUEOyHFBH5mpzPKgKqs10-tMAPI5lA6nh8sZHPZBn89Qs9Z";
        e_fb_requesttime="AcKrgHV-IlM5M5qXyjCkb-PWvjkELi_Y2LzFO4QV[...]
