---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v19.0/107878721936019/messages
    body:
      encoding: UTF-8
      string: '{"messaging_product":"whatsapp","recipient_type":"individual","status":"read","message_id":"wamid.HBgMNTU0MTk2MTI3MzAwFQIAERgSNjk5MDhBMUZEOEU5RDJGRUM0AA==","typing_indicator":{"type":"text"}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Error-Mid:
      - 1b58965a90b35b0e1d734ce192a458f9
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v22.0 as v19.0 has been deprecated.
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Unsupported post request. Object
        with ID '107878721936019' does not exist, cannot be loaded due to missing
        permissions, or does not support this operation. Please read the Graph API
        documentation at https://developers.facebook.com/docs/graph-api"
      Facebook-Api-Version:
      - v22.0
      Proxy-Status:
      - http_request_error; e_fb_responsebytes="AcM3LaEf_GQo0vOyZXyxnbozVk42ArVGZOo-8Vjl6bPLNiy7JQPVVh9dFFA7";
        e_fb_requesttime="AcPHodPyHUH5imfU0SW0jNOTWgxWsRkbPnDmTTwEgAkHm-ww7tkwwrlZW1wXSQ1gLZaEvwHIyQ";
        e_proxy="AcOSyUbCzO1h54VdMjMURtSlz1QndnLWnDFbUhE-VgQorxAFvPEHAWG0F3BayiQCWErVtMr75_U73x61RaHD";
        e_fb_twtaskhandle="AcPmFvEoaSnHy8tIfsDzpb9qyXhYr43SI7xK-NNAC0vQpqSFvYNzliLcx_uyDG3hf8KNbGiGcr_9DNRrUHVuTPNlokkkfl9DYhUxYRWPqlwC4A";
        e_fb_requestsequencenumber="AcOQy[...]
