---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v19.0/562412910296094/messages
    body:
      encoding: UTF-8
      string: '{"messaging_product":"whatsapp","recipient_type":"individual","status":"read","message_id":"wamid.HBgMNTU0MTk2MTI3MzAwFQIAEhgWM0VCMEQ3OTQ5OTNBODkwMzg1QTZDRgA=","typing_indicator":{"type":"text"}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v21.0 as v19.0 has been deprecated.
      X-Business-Use-Case-Usage:
      - '{"639297322149561":[{"type":"whatsapp","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v21.0
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Tue, 29 Apr 2025 12:11:39 GMT
recorded_with: VCR 6.3.1
