---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v19.0/107878721936019/messages
    body:
      encoding: UTF-8
      string: '{"messaging_product":"whatsapp","to":13437772910,"recipient_type":"individual","type":"contacts","contacts":[{"addresses":[{"street":"STREET","city":"CITY","state":"STATE","zip":"ZIP","country":"COUNTRY","country_code":"COUNTRY_CODE","type":"Work"},{"street":"STREET","city":"CITY","state":"STATE","zip":"ZIP","country":"COUNTRY","country_code":"COUNTRY_CODE","type":"Work"}],"birthday":"2019-01-01","emails":[{"email":"ignacio@gmail.com","type":"Work"},{"email":"ignacio2@gmail.com","type":"Home"}],"name":{"formatted_name":"ignacio
        chiazzo","first_name":"ignacio","last_name":"chiazo","middle_name":"jose","suffix":"ch","prefix":"ig"},"org":{"company":"ignacioCo","department":"Engineering","title":"ignacioOrg"},"phones":[{"phone":"1234567","type":"Home","wa_id":"1234"},{"phone":"9876543","type":"Work","wa_id":"1234"}],"urls":[{"url":"1234567","type":"Home"},{"url":"1234567","type":"Work"}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v20.0 as v19.0 will be deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v20.0
    body:
      encoding: UTF-8
      string: '{"messaging_product":"whatsapp","contacts":[{"input":"13437772910","wa_id":"13437772910"}],"messages":[{"id":"wamid.HBgLMTM0Mzc3NzI5MTAVAgARGBJDRDhCNTAwRkU0MTdCNkI3OUMA"}]}'
  recorded_at: Mon, 14 Oct 2024 14:20:12 GMT
recorded_with: VCR 6.3.1
