---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v19.0/107878721936019/messages
    body:
      encoding: UTF-8
      string: '{"messaging_product":"whatsapp","to":13437772910,"recipient_type":"individual","type":"interactive","interactive":{"type":"list","header":{"type":"text","text":"I
        am the header!"},"body":{"text":"I am the body!"},"footer":{"text":"I am the
        footer!"},"action":{"button":"I am the button CTA","sections":[{"title":"I
        am section 1","rows":[{"id":"section_1_row_1","title":"I am row 1","description":"I
        am the optional section 1 row 1 description"}]},{"title":"I am section 2","rows":[{"id":"section_2_row_1","title":"I
        am row 1","description":"I am the optional section 2 row 1 description"},{"id":"section_2_row_2","title":"I
        am row 2","description":"I am the optional section 2 row 2 description"}]}]}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v20.0 as v19.0 will be deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v20.0
    body:
      encoding: UTF-8
      string: '{"messaging_product":"whatsapp","contacts":[{"input":"13437772910","wa_id":"13437772910"}],"messages":[{"id":"wamid.HBgLMTM0Mzc3NzI5MTAVAgARGBJDOTkyMDUzODY3RTE0OTA4ODkA"}]}'
  recorded_at: Mon, 14 Oct 2024 15:35:45 GMT
recorded_with: VCR 6.3.1
