---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v19.0/107878721936019/messages
    body:
      encoding: UTF-8
      string: '{"messaging_product":"whatsapp","recipient_type":"individual","to":13437772910,"type":"template","template":{"name":"sample_shipping_confirmation","language":{"code":"en_US"},"components":[{"type":"body","parameters":[{"type":"TEXT","text":"2
        hours"}]}]}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Api-Version-Warning:
      - The call has been auto-upgraded to v20.0 as v19.0 will be deprecated.
      X-Business-Use-Case-Usage:
      - '{"114503234599312":[{"type":"whatsapp","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v20.0
    body:
      encoding: UTF-8
      string: '{"messaging_product":"whatsapp","contacts":[{"input":"13437772910","wa_id":"13437772910"}],"messages":[{"id":"wamid.HBgLMTM0Mzc3NzI5MTAVAgARGBI2REE3M0I0NEYzQjM1NkI2MDcA","message_status":"accepted"}]}'
  recorded_at: Mon, 14 Oct 2024 15:15:21 GMT
recorded_with: VCR 6.3.1
